/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* GLOBALS */
body {
  font-family: "Source Sans Pro", Helvetica;
  line-height: 24px;
  color: #444;
}
strong, b {
  font-weight: bolder;
}

/* CLASSES */

/* put the element to the right */
.pull-right {
    float: right;
}

.posts a {
	text-decoration: none;
	color: darkred;
}

.light_hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 20px 0;
}

.pagination {
    margin-left: 20px;
}


.pagination li {
    display: inline;
    line-height: 20px;
}

.pagination li:last-child a, .pagination li:last-child span {
    border-radius: 0 3px 3px 0;
}
.pagination li:first-child a, .pagination li:first-child span {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.pagination a, .pagination span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    color: darkred;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 38px;
    padding: 0 14px;
    text-decoration: none;
}

.pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}

/* ============= IDS =================== */

#page_def {
	list-style-type: none;
}

#page_title {
	font-size: 24px;
	font-weight: 700;
	text-rendering: optimizelegibility;
/*	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;*/
}

#source_link {
	background-color: #356635;
	border-radius: 3px 3px 3px 3px;
    padding: 1px 4px 2px;
    color: #FFFFFF;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    text-decoration: none;
    font-size: 11.844px;
    font-weight: bold;
}

#page_date {
	
}

/* wraps the actual blog post content */
#post_content {
	padding-left: 35px;
}

#post_content h2 {
	font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

#post_content a {
    color: darkred;
    text-decoration: none;
}

#post code, pre {
	border-radius: 4px 4px 4px 4px;
}

#post code, ul, ol {
	padding: 0;
}

